<ul class="nav nav-underline navbar-dark navigation-bar">
  <li>
    <%= link_to 'Recipe App', root_path, class:"nav-link" %>
  </li>

  <li class="nav-item">
    <%= link_to "Food List", foods_path, class:"nav-link" %>
  </li>
  
  <li class="nav-item">
    <%= link_to "Add Food", new_food_path, class:"nav-link" %>
  </li>

  <li class="nav-item">
    <%= link_to "Recipe List", recipes_path, class:"nav-link" %>
  </li>

  <li class="nav-item">
    <%= link_to "New Recipe", new_recipe_path, class:"nav-link" %>
  </li>

  <li class="nav-item">
  <%= link_to "Public Recipes", recipes_public_path, class:"nav-link" %>
</li>
</ul>
